$header-color  : #2c3e50;
$header-bg     : whitesmoke;
$header-border : #34495e;
$header-hover  : #3498db;

app-header {

	header {
		@include clearfix;
		border-bottom: 4px solid $header-border;
	}
	
	.logo {
		margin: 0;
		padding: 7.5px 15px 7.5px 30px;
	}

	nav {
		> ul {
			> li { 
				float: left;
				width: 25%;
			}
			button { width: 100%; }
		}

		.fa {
			margin-right: 15px;
		}

		.dropdown {
			position: relative;
			ul {
				@include clearfix;
				background: white;
				opacity: 0;
				transition: 0.3s ease all;
				position: absolute;
				left: 0;
				top: calc(100% + 8px);
				width: 100%;
			}

			li {
				float: left;
				width: 100%;
				padding: 10px 15px;
				border-bottom: 1px solid $header-bg;
				text-align: center;

				&:hover {
					cursor: pointer;
					color: $header-hover;
				}
			}

			&:hover {
				ul { top: calc(100% + 4px); opacity: 1; }
			}
		}

		button, .button {
			width: 100%;
			text-align: center;
			display: inline-block;
			background: $header-bg;
			color: $header-color;

			&::after {
				background: $header-hover;
				width: 0%;
				transition: 0.3s ease width;
				bottom: -4px;
			}

			&:hover {
				&::after {
					width: 100%;
					bottom: -4px;
				}
			}

		}
	}

}