button, .button {
	background: #1abc9c;
	color: white;
	text-transform: uppercase;
	padding: 15px;
	border: none;
	position: relative;
	min-width: 125px;
	// overflow: hidden;

	&::after {
		content: " ";
		width: 100%;
		bottom: -4px;
		height: 4px;
		left: 0;
		position: absolute;
		background: rgba(0,0,0,0.25);
		transition: 0.3s ease bottom;
	}

	&:hover {
		cursor: pointer;
		&::after {
			bottom: 0px;
		}
	}

}