<header>
	<nav>
		<ul class="clearfix">
			<li class="dropdown">
				<button class="button">
					<i class="fa fa-cog" aria-hidden="true"></i>
					Options
				</button>
				<ul>
					<li>Hoster Settings</li>
					<li ng-click="appHeader.quitApplication();" >Quit</li>
				</ul>
			</li>
			<li class="dropdown ">
				<button class="button">
					<i class="fa fa-upload" aria-hidden="true"></i>
					Load Template
				</button>
				<ul>
					<li ng-repeat="template in appHeader.templates track by name">{{ template.name }}</li>
				</ul>
			</li>
			<li>
				<button class="button" ng-click="appHeader.saveIntoDisc();" >
					<i class="fa fa-download" aria-hidden="true"></i>
					Update
				</button>
			</li>
			<li>
				<button class="button" ng-click="appHeader.saveAsTemplate();" >
					<i class="fa fa-bookmark" aria-hidden="true"></i>
					Bookmark template
				</button>
			</li>
		</ul>
	</nav>
</header>