<header>
	<nav>
		<ul class="clearfix">
			<li><button ng-click="appHeader.saveIntoDisc();" >Save into disc</button></li>
			<li><button ng-click="appHeader.saveAsTemplate();" >Save as template</button></li>
			<li class="dropdown ">
				<button>Load Template</button>
				<!-- <ul>
					<li ng-rpeat="template in appHeader.templates">{{ template.name }}</li>
				</ul> -->
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</li>
			<!-- 
			<li><button id="save" ng-click="appHeader.saveIntoDisc();" >Settings</button></li>
			-->
		</ul>
	</nav>
</header>